# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/

# macOS
.DS_Store

# Editor
.vscode/
*.swp

# LaTeX
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.sty
*.nav
*.snm
*.blg
*.bst
*.fls
*.lb
*.fdb_latexmk
*.zip
