---
layout: w3-layout
title: Research
permalink: /research/
---

<style>


/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Third image (Contact) */
.bgimg-1 {
  background-image: url("/assets/img/DSCN4204.JPG");
  min-height: 600px;
}

/* First image (Logo. Full height) */
.bgimg-2 {
  background-image: url("/assets/img/roadsign.jpg");
  min-height: 400px;
}

/* Second image (Portfolio) */
.bgimg-3 {
  background-image: url("/assets/img/DSCN4965.JPG");
  min-height: 400px;
}

</style>

<!-- First Parallax Image -->
<div class="bgimg-1 w3-display-container">
  <!--<div class="w3-display-middle">
    <span class="w3-xxlarge w3-wide">My Research</span>
  </div>-->
</div>

<!-- Research Statement -->
<div class="w3-container w3-padding-32" id="research_statement">
  <h1 class="w3-center"> My Research </h1>
  {% capture my_include %}
    {% include research_statement.md %}
  {% endcapture %}
  {{ my_include | markdownify }}
</div>

<!-- Second Parallax Image -->
<div class="bgimg-2 w3-display-container">
  <!--<div class="w3-display-middle">
    <span class="w3-xxlarge w3-wide">Talks</span>
  </div>-->
</div>

<!-- Talks -->
<div class="w3-container w3-padding-32" id="talks">
  <h2 class="w3-center"> Talks </h2>
  {% capture my_include %}
    {% include talks.md %}
  {% endcapture %}
  {{ my_include | markdownify }}
</div>

<!-- Third Parallax Image -->
<div class="bgimg-3 w3-display-container">
  <!--<div class="w3-display-middle">
    <span class="w3-xxlarge w3-wide">Publications</span>
  </div>-->
</div>

<!-- Publications -->
<div class="w3-container w3-padding-32" id="pubs">
  <h2 class="w3-center"> Publications </h2>
  {% capture my_include %}
    {% include publications.md %}
  {% endcapture %}
  {{ my_include | markdownify }}
</div>
