---
layout: w3-layout
title: Portfolio
permalink: /portfolio/
---



<!-- Intro -->
<div class="w3-container w3-padding-32" id="coding_intro">
  <h1 class="w3-center"> Coding </h1>
  {% capture my_include %}
    {% include coding_intro.md %}
  {% endcapture %}
  {{ my_include | markdownify }}
</div>

<!-- Code Samples -->
<div class="w3-container w3-padding-32" id="code_samples">
  <h2 class="w3-center"> Stuff I Did </h2>
  <div class="w3-row">
    {% capture my_include %}
      {% include coding_samples.md %}
    {% endcapture %}
    {{ my_include | markdownify }}
  </div>
</div>
