---
layout: w3-layout
title: Research
permalink: /research/
---

<style>


/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Third image (Contact) */
.bgimg-1 {
  background-image: url("/assets/img/DSCN4204.JPG");
  min-height: 600px;
}

/* First image (Logo. Full height) */
.bgimg-2 {
  background-image: url("/assets/img/roadsign.jpg");
  min-height: 400px;
}

/* Second image (Portfolio) */
.bgimg-3 {
  background-image: url("/assets/img/DSCN4965.JPG");
  min-height: 400px;
}


/* Collapsable button, from https://www.w3schools.com/howto/howto_js_collapsible.asp  */
.abstract {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible {
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

.collapsible:hover {
  background-color: #e0e0e0;
}

.collapsible.active {
  background-color: #999;
  color: white;
}

</style>

<script>
/* Collapsable button, from https://www.w3schools.com/howto/howto_js_collapsible.asp  */
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

<!-- First Parallax Image -->
<div class="bgimg-1 w3-display-container">
  <!--<div class="w3-display-middle">
    <span class="w3-xxlarge w3-wide">My Research</span>
  </div>-->
</div>

<!-- Research Statement -->
<div class="w3-container w3-padding-32" id="research_statement">
  <h1 class="w3-center"> My Research </h1>
  {% capture my_include %}
    {% include research_statement.md %}
  {% endcapture %}
  {{ my_include | markdownify }}
</div>

<!-- Second Parallax Image -->
<div class="bgimg-2 w3-display-container">
  <!--<div class="w3-display-middle">
    <span class="w3-xxlarge w3-wide">Talks</span>
  </div>-->
</div>

<!-- Talks -->
<div class="w3-container w3-padding-32" id="talks">
  <h2 class="w3-center"> Talks </h2>
  {% assign talks = site.data.talks %}

  {% for talk in talks %}
    <p>
      {% if talk.slides %}<a href="{{ talk.slides }}">``{{ talk.title }},''</a>{% endif %}
      {% unless talk.slides %}``{{ talk.title }},''{% endunless %}
      {% if talk.venue %} {{ talk.venue }} {% endif %}
      {% if talk.location %} {{ talk.location }} {% endif %}
      {% if talk.date%} ({{ talk.date }}) {% endif %}
    </p>
  {% endfor %}

</div>

<!-- Third Parallax Image -->
<div class="bgimg-3 w3-display-container">
  <!--<div class="w3-display-middle">
    <span class="w3-xxlarge w3-wide">Publications</span>
  </div>-->
</div>

<!-- Publications -->
{% assign categories = "ml,physics" | split: "," %}
{% assign category_titles = "Machine Learning,Physics" | split: "," %}

{% for category in categories %}
  <hr>
  <h3>{{ category_titles[forloop.index0] }}</h3>
  <hr>

  {% assign pubs = site.data.publications | where: "category", category %}
  {% for pub in pubs %}
  <p>
    {{ pub.authors }},
    ``{{ pub.title }},''
    {% if pub.journal %} {{ pub.journal }} {% endif %}
    {% if pub.volume %} <b>{{ pub.volume }}</b> {% endif %}
    {% if pub.number %} no. {{ pub.number }} {% endif %}
    {% if pub.pages %} {{ pub.pages }} {% endif %}
    {% if pub.year %} ({{ pub.year }}) {% endif %}
    {% if pub.doi %}<a href="https://doi.org/{{ pub.doi }}">doi:{{ pub.doi }}</a>{% endif %}
    {% if pub.arxiv %}<a href="https://arxiv.org/abs/{{ pub.arxiv }}">[arXiv:{{ pub.arxiv }}]</a>{% endif %}
    {% if pub.code %} [<a href="{{ pub.code }}">code</a>]{% endif %}
  </p>
  {% if pub.abstract %}
    <button type="button" class="collapsible">Abstract</button>
    <div class="abstract">
      <blockquote>{{ pub.abstract }}</blockquote>
    </div>
  {% endif %}
  {% endfor %}
{% endfor %}
