
<!-- Header -->
  <header class="w3-center w3-padding-32">
    <h1> Josiah Couch </h1>
      <h3> Physics Ph.D Candidate Working in AdS/CFT </h3>
  </header>


  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <div class="row"  style="max-width:2000px;">
      <div class="column left">
        <img class="w3-image" src="assets/img/ProfilePic.jpg" alt="Me" style="width:90%">
      </div>
      <div class="column right">
        <h3> About Me </h3>
        <p>I am a physics Ph.D student at the University of Texas at Austin in the <a href="https://zippy.ph.utexas.edu/">Weinberg Theory Group</a>.
          I have had a lifelong fascination with science, mathematics, and technology, which has culminated in my decision to study theoretical physics.
          As a student in the theory group, I study the intersection of quantum information and quantum gravity in the context of the AdS/CFT correspondence.
          As a somewhat nerdy layperson, I am broadly interested in a variety of topics in science, technology, and beyond.
        </p>
      </div>
    </div>
  </div>
