

  <!-- Navbar for large screens-->
  <div class="w3-top w3-hide-small">
    <div class="w3-bar w3-black w3-card">
      <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
      <div class="w3-dropdown-hover">
        <button class="w3-padding-large w3-button" title="Research"> Research <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/research" class="w3-bar-item w3-button">Research Home</a>
          <a href="/research/#talks" class="w3-bar-item w3-button">Talks</a>
          <a href="/research/#pubs" class="w3-bar-item w3-button">Publications</a>
        </div>
      </div>
      <!--<a href="/portfolio" class="w3-bar-item w3-button w3-padding-large">Portfolio</a>-->
      <a href="/cv" class="w3-bar-item w3-button w3-padding-large">CV</a>
      <!--<a href="#cv" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Blog</a>-->
    </div>
  </div>

    <!-- Navbar for small screens-->
    <div class="w3-top w3-hide-large">
      <div class="w3-bar w3-black w3-card">
        <div class="w3-dropdown-hover">
          <button class="w3-padding-large w3-button" title="Menu"> Menu <i class="fa fa-caret-down"></i></button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="/research" class="w3-bar-item w3-button">Research</a>
	    <!--<a href="/portfolio" class="w3-bar-item w3-button">Portfolio</a>-->
            <a href="/cv" class="w3-bar-item w3-button">CV</a>
          </div>
        </div>
      </div>
    </div>
