---
---

@import "{{ site.theme }}";

// Define defaults for each variable.

$spacing-unit:     30px !default;
$black-color:       #111 !default;


.site-header {
  font-size: 1.5em;
  font-weight: bold;
  color: $black-color;
  text-align: left;

  // Positioning context for the mobile navigation icon
  position: relative;
}
